FISHJAM_ID=2d3c73ca94cc40fba45e208f0112b2fa
FISHJAM_MANAGEMENT_TOKEN=5cc3a58930cd91c03776eba72894deac26887dc30e3045d8238347dadd73654c
GOOGLE_API_KEY=AIzaSyBrheTiILpXKV2kSE8ohGkTG10TAv6eFWo
GEMINI_MODEL=gemini-2.5-flash-native-audio-preview-12-2025
GEMINI_SYSTEM_INSTRUCTION=Listen to the incoming audio and provide detailed analysis including: tone of voice (e.g. confident, nervous, excited)